<html>

<head>
    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="./js/checkgana.js"></script>
    <script src="./js/upload.js"></script>
    <script src="./js/checkip.js"></script>

    <ul class="menu">
        <li class="menuitem"><a href="index.html">Home</a></li>
        <li class="menuitem"><a href="iprepu.html">IP Reputation</a></li>
        <li class="menuitem"><a href="weblist.html">Web Lists</a></li>
        <li class="menuitem"><a href="help.html">Help</a></li>
        <li class="menuitem"><a class="activeMenu" href="about.html">About</a></li>
    </ul>
    <h1>About </h1>
</body>
</html>