<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="./js/checkgana.js"></script>
    <script src="./js/upload.js"></script>
    <script src="./js/checkip.js"></script>
    <ul class="menu">
        <li class="menuitem"><a class="activeMenu" href="#home">Home</a></li>
        <li class="menuitem"><a href="iprepu.html">IP Reputation</a></li>
        <li class="menuitem"><a href="weblist.html">Web Lists</a></li>
        <li class="menuitem"><a href="help.html">Help</a></li>
        <li class="menuitem"><a href="about.html">About</a></li>
    </ul>

    <h1>Google Analytics Data</h1>
    <p>Google analytics data for your WPEngine website.</p>
    <table class="maintable" style="width:1200px">
        <tr>
            <td>
                <h2>Daily visits</h2>
                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

                <button onclick="checkgana();">Check today</button>
                <p id="gana_result">No result yet</p>
            </td>
            <td>
                <h2>Users by cities</h2>
                <canvas id="pieChart" style="width:100%;max-width:600px"></canvas>
            </td>
        </tr>
    </table>
    <h2>Statistics</h2>
    <table class="stat">
        <tr>
            <th>Average</th>
            <th>Standard Deviation</th>
            <th>Number of Cities</th>
            <th>threshold (3 sigmas)</th>
        </tr>
        <tr>
            <td id="average">0</td>
            <td id="stddev">0</td>
            <td id="numCities">0</td>
            <td id="3sigma">0</td>
        </tr>
    </table>
    <h2>Machine learning</h2>
    <script src="./js/total_linechart.js"></script>
</body>

</html>