<!DOCTYPE html>
<html>
    <body>
        <script src="./js/checkgana.js"></script>
        <script src="./js/upload.js"></script>
        <script src="./js/checkip.js"></script>
        <h1>1. Google Analytics</h1>
        <button onclick="checkgana();">Check today</button>
        <p id="gana_result">No result yet</p>
        <h1>2. Check IP address</h1>
        <h2>2.1 Single IP address</h2>
        <input placeholder="Enter ip address" id="checkip"><button onclick="checkip()">Check IP</button>
        <p id="ipreputation">No result yet</p>
        <h2>2.2 Server log file</h2>
        <p>Download the server log file for today from WPEngine, and upload to check IP reputation.
        </p>
        <input type="file" name="input-file" id="input-file" onchange="upload();"/>
        <p id="logfileresult">No result yet</p>
        <hr/>
        <a href="/views/weblist.html">Web Lists</a> <a href="">Help</a> <a href="">About</a>
    </body>
</html>