<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <script src="./js/checkip.js"></script>
    <script src="./js/upload.js"></script>
    <ul class="menu">
        <li class="menuitem"><a href="index.html">Home</a></li>
        <li class="menuitem"><a class="activeMenu" href="iprepu.html">IP Reputation</a></li>
        <li class="menuitem"><a href="weblist.html">Web Lists</a></li>
        <li class="menuitem"><a href="help.html">Help</a></li>
        <li class="menuitem"><a href="about.html">About</a></li>
    </ul>
    <h1>IP address reputation</h1>
    Evaluate the reputation of an IP address by checking whether it is listed in one of the black lists stored in the <a href="weblist.html">web sites.</a>
    <h2>Single IP address</h2>
    <p>
        Check the reputation of a single IP address.
    </p>
    <input placeholder="Enter ip address" id="checkip"><button onclick="checkip()">Check IP</button>
    <p id="ipreputation">No result yet</p>
    <h2>Server log file</h2>
    <p>Download the server log file for today from WPEngine, and check reputation of each IP address inside.
    </p>
    <input type="file" name="input-file" id="input-file" onchange="upload();" />
    <p id="logfileresult">No result yet</p>
</body>

</html>